img {
  margin: 0;
}

body {
  margin: 0;
  font-family: monospace;
}

audio {
  display: none;
}

#wrapper {
  height: auto;
  width: auto;
}

#header {
  width: auto;
  height: 80px;
}

#screen {
  aspect-ratio: 16/9;
  background: url("../produktion/background2.svg") no-repeat;
  position: absolute;
  height: 100vh;
  width: 100vw;
  top: 70px;
  left: 0px;
}

#startbox {
  width:70vw;
  height:45vh;
  background-color: rgb(2 9 119);
  position: absolute;
  left: 16%;
  top: 20%;
  border: 10px solid rgb(0 150 234);
  border-radius: 20px;
}

.start_text {
  color: #fff;
  font-size: 1.8em;
  text-align: center;
  margin-top: 13%;
  padding: 0px 20px 0px 20px;
}

.start_text2 {
  color: #fff;
  font-size: 1.2em;
  text-align: center;
  margin-top: 32px;
  padding: 0px 20px 0px 20px;
}

#startbutton {
  margin-top: 3vh;
  background-color: red;
  color: #f2f2f2;
  padding: 1.3% 2.4% 1.3% 2.4%;
  border: 2px #9a1f1f solid;
  border-radius: 6px;
  font-family: monospace;
}

#winbox {
  width:70vw;
  height:45vh;
  background-color: rgb(2 9 119);
  position: absolute;
  left: 16%;
  top: 20%;
  border: 10px solid rgb(0 150 234);
  border-radius: 20px;
}

.win_text {
  color: #fff;
  font-size: 1.8em;
  text-align: center;
  margin-top: 13%;
  padding: 0px 20px 0px 20px;
}

.win_text2 {
  color: #fff;
  font-size: 1.2em;
  text-align: center;
  margin-top: 32px;
  padding: 0px 20px 0px 20px;
}

#resetbuttonwin {
  margin-top: 10vh;
  background-color: red;
  color: #f2f2f2;
  padding: 1.3% 2.4% 1.3% 2.4%;
  border: 2px #9a1f1f solid;
  border-radius: 6px;
  font-family: monospace;
}

#losebox {
  width:70vw;
  height:45vh;
  background-color: rgb(2 9 119);
  position: absolute;
  left: 16%;
  top: 20%;
  border: 10px solid rgb(0 150 234);
  border-radius: 20px;
}

.lose_text {
  color: #fff;
  font-size: 1.8em;
  text-align: center;
  margin-top: 13%;
  padding: 0px 20px 0px 20px;
}

.lose_text2 {
  color: #fff;
  font-size: 1.2em;
  text-align: center;
  margin-top: 32px;
  padding: 0px 20px 0px 20px;
}

#resetbuttonlose {
  margin-top: 10vh;
  background-color: red;
  color: #f2f2f2;
  padding: 1.3% 2.4% 1.3% 2.4%;
  border: 2px #9a1f1f solid;
  border-radius: 6px;
  font-family: monospace;
}

#monster_container {
  width: 6%;
  aspect-ratio: 3/4;
  position: absolute;
  top: 50%;
  left: 50%;
}

#monster_sprite {
  width: 100%;
  height: 70%;
  background: url("../produktion/monster.svg") no-repeat;
  background-size: 100%;
}

#monster_container2 {
  width: 6%;
  aspect-ratio: 3/4;
  position: absolute;
  top: 50%;
  left: 50%;
}

#monster_sprite2 {
  width: 100%;
  height: 70%;
  background: url("../produktion/monster.svg") no-repeat;
  background-size: 100%;
}

#monster_container3 {
  width: 6%;
  aspect-ratio: 3/4;
  position: absolute;
  top: 50%;
  left: 50%;
}

#monster_sprite3 {
  width: 100%;
  height: 70%;
  background: url("../produktion/monster.svg") no-repeat;
  background-size: 100%;
}

#monster_container4 {
  width: 6%;
  aspect-ratio: 3/4;
  position: absolute;
  top: 50%;
  left: 50%;
}

#monster_sprite4 {
  width: 100%;
  height: 70%;
  background: url("../produktion/monster.svg") no-repeat;
  background-size: 100%;
}

#snack_container {
  width: 10%;
  aspect-ratio: 3/4;
  position: absolute;
  top: 50%;
  left: 50%;
}

#snack_sprite {
  width: 100%;
  height: 60%;
  background: url("../produktion/snack.svg") no-repeat;
  background-size: 100%;
}

#snack_container2 {
  width: 10%;
  aspect-ratio: 3/4;
  position: absolute;
  top: 50%;
  left: 50%;
}

#snack_sprite2 {
  width: 100%;
  height: 60%;
  background: url("../produktion/snack.svg") no-repeat;
  background-size: 100%;
}

#snack_container3 {
  width: 10%;
  aspect-ratio: 3/4;
  position: absolute;
  top: 50%;
  left: 50%;
}

#snack_sprite3 {
  width: 100%;
  height: 60%;
  background: url("../produktion/snack.svg") no-repeat;
  background-size: 100%;
}

#snack_container4 {
  width: 10%;
  aspect-ratio: 3/4;
  position: absolute;
  top: 50%;
  left: 50%;
}

#snack_sprite4 {
  width: 100%;
  height: 60%;
  background: url("../produktion/snack.svg") no-repeat;
  background-size: 100%;
}

#snack_container5 {
  width: 10%;
  aspect-ratio: 3/4;
  position: absolute;
  top: 50%;
  left: 50%;
}

#snack_sprite5 {
  width: 100%;
  height: 60%;
  background: url("../produktion/snack.svg") no-repeat;
  background-size: 100%;
}

#snack_container6 {
  width: 10%;
  aspect-ratio: 3/4;
  position: absolute;
  top: 50%;
  left: 50%;
}

#snack_sprite6 {
  width: 100%;
  height: 60%;
  background: url("../produktion/snack.svg") no-repeat;
  background-size: 100%;
}

#game_ui {
  height: auto;
  width: auto;
  position: absolute;
  left: 90%;
  top: 10%;
  color: #fff;;
}

#score {
  display: inline;
  font-size: 2em;
}

#time_container {
  position: absolute;
  width: 30%;
  aspect-ratio: 6/30;
  border: 2px solid white;
  background-color: rgb(200, 200, 200);
  left: -82%;
  top: 0%;
}

#time_sprite {
  position: absolute;
  width: 100%;
  height: 100%;
  transform-origin: center bottom;
}

.shrinktime {
  animation-name: shrink;
  animation-duration: 20s;
  animation-iteration-count: 1;
  animation-timing-function: ease-out;
  animation-fill-mode: forwards;
}

.redtime {
  background-color: red;
}


@keyframes shrink {
  0% {
    transform: scaleY(1);
    background-color: limegreen;
  }
  50% {
    background-color: orange;
  }
  100% {
    transform: scaleY(0);
    background-color: red;
  }
}

.speed1 {
  animation-duration: 2s;
}

.speed2 {
  animation-duration: 1.5s;
}

.speed3 {
  animation-duration: 1s;
}

.hide_heart {
  display: none;
}

#life_board {
  padding-top: 80px;
}

#life_board img {
  width: 5vw;
}

.rotation {
  animation-name: rotation1;
  animation-duration: 1.6s;
  animation-iteration-count: 1;
  animation-timing-function: linear;
}

@keyframes rotation1 {
  to {
    transform: rotate(360deg);
  }
}

.rotation2 {
  animation-name: rotation2_kf;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  transform-origin: 200%;
  left: 0;
}

@keyframes rotation2_kf {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(1turn);
  }
}

.falling {
  animation-name: falling;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes falling {
  from {
    transform: translateY(-580%);
  }
  to {
    transform: translateY(480%);
  }
}


.pattern1 {
  animation: pattern1 8s infinite linear;
  /*animation-delay: 1500ms;*/
}

@keyframes pattern1 {
  0% {
    transform: translate(0%, -360%);
  }
  25% {
    transform: translate(530%, 0%);
  }
  50% {
    transform: translate(0%, 400%);
  }
  75% {
    transform: translate(-630%, 0%);
  }
  100% {
    transform: translate(0%, -360%);
  }
}

.pattern2 {
  animation: pattern2 10s infinite linear;
}

@keyframes pattern2 {
  0% {
    transform: translate(0%, -220%);
  }
  25% {
    transform: translate(400%, 0%);
  }
  50% {
    transform: translate(0%, 150%);
  }
  75% {
    transform: translate(-500%, 0%);
  }
  100% {
    transform: translate(0%, -220%);
  }
}

.pattern3 {
  animation: pattern3 8s infinite linear;
  /* animation-delay: 1500ms; */
}

@keyframes pattern3 {
  0% {
    transform: translate(300%, 0%);
}
  25% {
      transform: translate(-350%, 0%);
  }
  50% {
      transform: translate(0%, -200%);
  }
  75% {
      transform: translate(-350%, 0%);
  }
  100% {
      transform: translate(300%, 0%);
  }
}

.pattern4 {
  animation: pattern4 8s infinite linear;
  /* animation-delay: 1000ms; */
}

@keyframes pattern4 {
  0% {
    transform: translate(0%, -360%);
  }
  25% {
    transform: translate(430%, 0%);
  }
  50% {
    transform: translate(0%, 300%);
  }
  75% {
    transform: translate(-530%, 0%);
  }
  100% {
    transform: translate(0%, -360%);
  }
}

.stop {
  animation-play-state: paused;
}

.remove {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s 2s, opacity 2s linear;
}

.remove_screen {
  display: none;
}

.hop_kf {
  animation-name: hop_kf;
  animation-duration: 0.7s;
  animation-direction: alternate;
  animation-iteration-count: 2;
  animation-timing-function: linear;
}

@keyframes hop_kf {
  0% {
    top: 40vw;
  }
  100% {
    top: 20vw;
  }
}